// Базовые стили для сайта

// Подключаем переменные и миксины (для совместимости с @use в root)
@use "variables" as *;
@use "mixins" as *;

// Общие стили
html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: $font-primary;
  font-size: 1rem;
  line-height: $line-height-base;
  color: $color-dark;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

// Типографика
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1;
  color: rgba(17, 17, 17, 1);
  font-family: 'Onest';
}

h1 {
  font-size: 6rem;

  @include lg {
    font-size: 2.875rem;
  }

  @include md {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 3.75rem;
  text-transform: uppercase;

  @include lg {
    font-size: 2.25rem;
  }

  @include md {
    font-size: 1.875rem;
  }
}

h3 {
  font-size: 1.5rem;

  @include md {
    font-size: 1.35rem;
  }
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  font-family: 'onest';
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: $transition-base;
  font-family: "onest";

  
}

ul,
ol {
  margin-top: 0;
  padding-left: 2rem;
}

// Формы
button,
input,
optgroup,
select,
textarea {
  font-family: 'onest';
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

span{
  font-family: 'onest';
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

// Изображения
img {
  max-width: 100%;
  height: auto;
}

// Утилитарные классы
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}