.delivery {
  .delivery-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;

    h2 {
      color: rgba(17, 17, 17, 1);
    }

    .delivery-info {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h3 {
        font-size: 30px;

        @media(max-width:768px) {
          font-size: 24px;
        }
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        gap: 25px;

        .item {
          padding: 30px;
          border-radius: 10px;
          background-color: rgba(243, 247, 254, 1);
          max-width: 590px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 30px;
          align-items: flex-start;
          justify-content: space-between;

          img {
            height: 24px;
          }

          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
            color: rgba(49, 49, 49, 1);
          }
        }

        @media(max-width:1024px) {
          flex-direction: column;

          .item {
            max-width: 100%;
            padding: 20px;
          }
        }

        @media(max-width:768px) {
          flex-direction: column;

          .item {
            max-width: 100%;
            padding: 20px;
            gap: 20px;

            p {
              font-size: 14px;
            }
          }
        }
      }

    }

    @media(max-width:1024px) {
      gap: 30px;
      margin-top: 20px;

      .delivery-info:last-child {
        margin-top: 10px;
      }
    }
        @media(max-width:768px) {
          gap: 50px;
          margin-top: 20px;
          .delivery-info{
            .wrapper{
              gap: 20px;
            }
          }
    
          .delivery-info:last-child {
            margin-top: 0px;
          }
        }
  }
}